# Base Requirements - Stable dependencies that rarely change
# These are installed first to maximize Docker layer caching

## Core Data Science Stack (installed via conda, but listed here for reference)
# numpy==1.19.5
# scipy==1.7.1
# scikit-learn==0.24.2
# pandas==1.2.5
# matplotlib==3.4.2

## Core Utilities
Cython==0.29.23
tqdm==4.61.1
requests==2.25.1
urllib3==1.26.6
idna==2.10
attrs==21.2.0
six==1.16.0
future==0.18.2
python-dateutil==2.8.1
PyYAML==5.4.1
joblib==1.0.1
Pillow==8.2.0
pyzmq==22.1.0
python-crontab==2.5.1
cmake==3.20.4
protobuf==3.17.3

## Serialization & Data
cloudpickle==1.6.0
msgpack==1.0.2
msgpack-numpy==0.4.7.1
h5py==3.3.0
simplejson==3.17.2
dill==0.3.4
jsonpickle==2.0.0

## CLI & Utilities
httpie==2.4.0
click==8.0.1
colorama==0.4.4
tabulate==0.8.9
regex==2021.4.4
toolz==0.11.1
jmespath==0.10.0
fire==0.4.0
typer==0.3.2

## Web Frameworks
tornado==6.1
flask==2.0.1
gunicorn==20.1.0
uvicorn==0.14.0
fastapi==0.65.2

## Database & Storage
SQLAlchemy==1.4.19
pymongo==3.11.4
redis==3.5.3
psycopg2==2.9.1
PyMySQL==1.0.2

## Jupyter Core
ipykernel==5.5.5
jupytext==1.11.3
jupyter-resource-usage==0.6.0
ipympl==0.7.0
jupyterhub==1.4.1
remote_ikernel==0.4.6
jupyter_contrib_nbextensions==0.5.1
jupyter_nbextensions_configurator==0.4.1
nbdime==3.1.0

## Visualization
seaborn==0.11.1
plotly==5.0.0
bokeh==2.3.3
altair==4.1.0

## Development Tools
pytest==6.2.4
autopep8==1.5.7
flake8==3.9.2
black==21.6b0
pylint==2.8.3
pycodestyle==2.7.0
pydocstyle==6.1.1
mock==4.0.3
nox==2021.6.12
pip-tools==6.2.0
isort==5.9.1
jedi==0.18.0
pipreqs==0.4.10
mypy==0.910
twine==3.4.1
tox==3.23.1
pipenv==2021.5.29
poetry==1.1.7
virtualenv==20.4.7
virtualenvwrapper==4.8.4

## Monitoring
psutil==5.8.0
bottle==0.12.19
netifaces==0.11.0
py-cpuinfo==8.0.0
glances==3.1.7
prometheus-client==0.11.0

## Tensorboard
tensorboard==2.5.0
tensorboardX==2.3